.forcast-detail{
    text-align: center;
}
.forcast-detail img {
    width: 75px;
    height: 75px;
}

.hourly-forcast-div{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.forecase{
    margin: 25px 0;
}

.forcast-heading{
   font-size: medium;
   font-weight: 600;
}


.forcast-des{
    margin : 0;
}
