.main{
  background-color: white;

  width: 90vw;
  /* height: 90vh; */
  display: flex;
  margin: auto;
  /* margin-top: 5vh; */
  box-shadow: 0.1px 0.1px 5px  gray;
  flex-wrap: wrap;
  justify-content: space-around;
  background: linear-gradient(to bottom, #87CEEB, #ffe96b); 
  /* color: #556B2F;
  color: #800080; */
  color: #6E5573;
 
  font-family: 'Poppins', sans-serif;
  
}
.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



@media (max-width: 600px) {
 .main{
  width: 100vw;
  padding: 0 16px;
  margin-top: 0;
 }
  
}

